footer{
    width: 100vw;
    height: 10vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;

}

.reseau_s{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}